#search .button, .button.inverted {
	color: #fff;
	background: $gray;
}
#search .button:hover, #search .button:active, #search .button:focus, .button.inverted:hover, .button.inverted:active, .button.inverted:focus {
	background: #fff;
	color: $gray;
}
button {
	border-radius: 0;
	border: none;
	cursor: pointer;
	outline: none;
	font-size:16px;

}
.button,
.project-navigation [rel="prev"],
.project-navigation [rel="next"] {
	font-weight: 700;
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	color: #fff;
	background: transparent;
	text-decoration: none;
	border: 1px solid;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	line-height: 16px;
	font-weight: 400;
}
@media only screen and (min-width:321px) {
	.button,
	.project-navigation [rel="prev"],
	.project-navigation [rel="next"] {
		min-width: 150px;
	}
}
@media only screen and (max-width:320px) {
	.button,
	.project-navigation [rel="prev"],
	.project-navigation [rel="next"] {
		min-width: 90px;
	}
}

.project-navigation [rel="prev"],
.project-navigation [rel="next"],
.button.primary.inverted {
	color:$gray;
	border-color:$gray;
}
.arrow {
	width:9px;
}
.arrow-left {
	float:left;

}
.arrow-right {
	float:right;

}
.button.primary {
	background: transparent;
	color: #fff;
	border-color: #fff;
}
.button.primary:hover, .button.primary:active, .button.primary:focus {
	background: #FFFFFF;
	color:$gray;
	border-color: transparent;
}
.project-navigation [rel="prev"],
.project-navigation [rel="next"],
.button.primary.inverted  {
	&:hover {
		background: $gray;
		color: #fff;
		border-color: transparent;
		.arrow {
			fill:#fff;
		}
	}
}
.button.secondary {
	background: $gray;
	color: #fff;
	border-color: $gray;
	&:active, &:focus {
		background: $gray;
		color: #fff;
		border-color: $gray;
	}
	&:active {

	}
}
.button.outline {
	border-color:$gray;
	color:$gray;
	&:hover {
		background-color:$gray;
		color:#fff;
	}
}
.button.secondary:hover {
	background: #FFFFFF;
	border-color: $gray;
	color: $gray;
}