/* @group search */
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
body.search-open {

}
input, textarea {
	border:1px solid $gray;
	font-size:16px;
	padding:10px;
	&:focus {
		outline:none;
	}
}

input {
	height:40px;
	
}
#search {
	visibility: hidden;
	opacity: 0;
	//background: #191919;
	background:rgba(8,8,16,0.95) no-repeat top left;
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* display: block; */
	width: 100%;
	height: 100%;
	padding-top: 150px !important;
	padding-bottom: 70px !important;
	text-align: center;

}
.navbar-toggle-2 span {
	background: 0 0;
}
.navbar-toggle-2 span {
	background-color: transparent !important;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #191919;
	width: 28px;
	height: 4px;
	margin-left: -14px;
	margin-top: -2px;
}
.navbar-toggle-2 span:before, .navbar-toggle-2 span:after {
	content: "";
}
.navbar-toggle-2 span:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navbar-toggle-2 span:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.navbar-toggle-2 span:before, .navbar-toggle-2 span:after {
	-webkit-transition-delay: 0s, .3s;
	transition-delay: 0s, .3s;
	background-color: #191919;
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
}
.navbar-toggle-2 span:before, .navbar-toggle-2 span:after {
	background-color: #191919;
}
#search, #mobile-navigation  {
	
    transition: opacity,0.2s ease-in-out,visibility,0.2s ease-in-out;
}
.search-open .logo path {
	fill: #191919 !important;
}
.search-open .icon-menu path, .search-open .icon-search path {
	fill: #191919 !important;
}
.search-open .logo path {
	fill: #fff !important;
}
.search-open #search {
	opacity: 1;
	visibility: visible;
	padding: 0 30px;
	.search-field {
		opacity: 1;
		visibility: visible;
	}
}

#search form {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#search .button {
	margin: 20px auto;
}
#search .search-field {
	// font-family: 'Source Sans Pro', sans-serif;
	// font-weight: 900;
	width: 100%;
	border: none;
	color: #ccc;
	background: transparent;
	text-align: center;
	outline: none;
	padding: 20px;
	font-size: 90px;
	resize: none;
	-moz-resize: none;
	-webkit-resize: none;
	opacity:0;
	visibility:hidden;
	-webkit-transition: opacity,0.5s ease-in-out,visibility,0.5s ease-in-out;
    -o-transition: opacity,0.5s ease-in-out,visibility,0.5s ease-in-out;
    transition: opacity,0.5s ease-in-out,visibility,0.5s ease-in-out;
}
@include placeholder {
	// font-family: 'Source Sans Pro', sans-serif;
	// font-weight: 400;
}
.search-field[placeholder] {
	color: #fff;
	text-overflow: ellipsis;
}
.search-field::-webkit-input-placeholder {
 color:#fff;
}
.search-field:-moz-placeholder {
 color:#fff;
}
 .search-field::-moz-placeholder {
 color:#fff;
}
 .search-field:-ms-input-placeholder {
 color:#fff;
}
/* @end */
// Search form
.search-form {
 // @extend .form-inline;
}
.search-form .search-field {
 // @extend .form-control;
}
.search-form .search-submit {
 // @extend .btn;
//  @extend .btn-default;
}
.button {
}
.search-open {
	.branding-details,
	.nav a, 
	.project-hero figcaption h2, 
	.project-hero figcaption h3, 
	#dmp-footer,
	 #dmp-footer a, 
	 #credits {
	 	color:#fff;
	 }
	 .navbar-toggle span, 
	 .navbar-toggle span:before, 
	 .navbar-toggle span:after, 
	 .navbar-toggle-2 span, 
	 .navbar-toggle-2 span:before, 
	 .navbar-toggle-2 span:after {
		background:#000;
	 }
} 
.wpcf7-form {
	.wpcf7-not-valid {
		border-color: $warning;

		&[placeholder] {
			color: $warning;
		}
		&::-webkit-input-placeholder {
			color: $warning;
		}
		&:-moz-placeholder {
			color: $warning;
		}
		&::-moz-placeholder {
			color: $warning;
		}
		&:-ms-input-placeholder {
			color: $warning;
		}
	}

	
	ul {
		margin:0 -15px;
	}
	
	li {
		float:left;
		width:100%;
		& + li {
			margin:30px 0 0;
		}
	}
	.wpcf7-form-control-wrap {
		padding:0 15px;
	}
	.wpcf7-form-control {
		width:100%;
	}
	.wpcf7-validation-errors {
		display:none;
		border: none !important;
	}
	.wpcf7-not-valid-tip {
		color:#fff;
		background: $warning;
		display: block;
		padding: 5px 10px;
		
	}
	.wpcf7-mail-sent-ok {
		border:none;
		float: left;
		width: 100%;
		text-align: center;
		padding: 10px;
		font-size: 25px;
	}
}
@media only screen and (min-width:768px) {

	.wpcf7-form {

		.wpcf7-form-control-wrap {
				float:left;
			&:not(.yourmessage):not(.subject) {
				
				width:50%;
			}
			width:100%;
		}
		input {
			//width:calc(50% - 15px);
		}
		textarea {
			width:100%;
		}
		.wpcf7-submit {
			max-width: 300px;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
}
@media only screen and (max-width:767px) {
	.wpcf7-form { 
		.wpcf7-form-control-wrap {
			float:left;
			width:100%;
		}
		.wpcf7-form-control-wrap + .wpcf7-form-control-wrap {
			margin:30px 0 0;
		}
		.wpcf7-submit {
			width: calc(100% - 30px);
			margin:0 15px;
		}
	}	
}
