/* @group main */
.scroll-section {
	
	figure {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100vh;
		min-height:100vh;
		width:100%;
		position:relative;
		img {
			position: absolute;
			// top:0;
			// left:0;
			// right:0;
			// bottom:0;
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		}
		figcaption {
			text-align: center;
			position: absolute;
			bottom:5%;
			left:50%;
			transform:translate(-50%, -50%);
		}
	}
}
/* @end */