.slideshow {
    margin-top: 0
}
.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
}

.slideshow {


 figcaption {
     padding: 20px;
     background: rgba(255, 255, 255, 0.95);
     text-align: center;
     
     
     a {
        display:inline-block;
        text-align: center;
        .button {margin-top:20px;}
    }
}
}
.slideshow-image-container {
    width: 100%;
    height: 100%;
    
}
@media only screen and (min-width:768px) {
    .backdrop-404 {
        img {max-width:850px;}
    }
    .slideshow-image-container {
       
        img {

        }
        &.backdrop-contain {
           position: absolute;
           top: 0px;
           left: 0px;
           z-index: 0;
           img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;

            }
        }
        &.backdrop-cover {
           position: fixed; 
           top: -50%; 
           left: -50%; 
           width: 200%; 
           height: 200%;
            img:not(.img-404-fg):not(.img-404-bg) {
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
                min-width: 50%;
                min-height: 50%;
                overflow-x: hidden;
                max-width: 2880px;
               // max-width: 100%;
                // max-height: 1800px;
            }
        }
        
    }
   
    .slideshow {
        &, &:after {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 0
        }
        h1 {
            font-size:45px;
        }
        img {
           position:absolute; 
           z-index: 1;
       }
        figcaption {
            position:absolute;
            left:50%;
            transform:translateX(-50%);

            z-index: 1;

            &.caption-pos-middle {
                top:50%;
                transform: translate(-50%, -50%);
            }
            &.caption-pos-top {
                top:105px;
            }
            &.caption-pos-bottom {
                top:inherit;
                bottom:105px;
            }
            top:105px;
        }
    }
}
 #page.error404 {
    background:url("../images/tv-pattern.png");
 }
.backdrop-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-warning {
    z-index: 1;
    position: relative;
    color: #fff;
    text-align: center;
    margin: 50px 0 0;
}
@media only screen and (max-width:767px) {
    .backdrop-404 {
        width: 100%;
        padding: 0 20px;
        img {max-width: 100%;}
    }
    .slideshow {
        h1 {
           
        }
        figcaption {
            float:left;
            width:100%;
            margin:0;
            position: relative;
            z-index: 1;
            &[style] {
                background:none !important;
            }   
        }

    }
    #page:not(.error404) .slideshow-image-container {
        background-size:contain;
    }

    #page.error404 .slideshow-image-container {
       
        img {

        }
        
        &.backdrop-cover {
           position: fixed; 
           top: -50%; 
           left: -50%; 
           width: 200%; 
           height: 200%;
            img {
                position: absolute; 
                top: 0; 
                left: 0; 
                right: 0; 
                bottom: 0; 
                margin: auto; 
                min-width: 50%;
                min-height: 50%;
                overflow-x: hidden;
               // max-width: 100%;
                max-height: 1800px;
            }
        }
        
    }
   // .caption-pos-top {
   //      top:60px;
   // }
   
   // .caption-pos-bottom {
   //      bottom:105px;
   // }
   
}
h2.background--complex {
     background: hsla(0,0%,100%,.8);
}
// h2.background--dark {
//     a { color:#fff;}
// }


@media only screen and (min-width:481px) {
    .slideshow {
        h2 {

        }
        li {
            span {
                //background-size: cover;
            }
        }
   }
}
@media only screen and (max-width:480px) {
   .slideshow {
        h2 {

        }
        li {
            span {
               // background-size: contain;
            }
        }
   }
}
