/* @group pages */
@mixin blurryFix() {
  -webkit-transform: translateZ(0);
  -webkit-filter: blur(0);
}

// Animation in
#page:not(.single-works) {
  #dmp-main {
    opacity: 1;

  }
}

// Animation out
.slide-out {
  #page:not(.single-works) {
    #dmp-main {
      opacity: 0;
    }
  }
}

/* @gend pages */

/* @group projects page */

// Animation in
#page.single-works {

  // Main Container
  #dmp-main {
    transition: opacity .25s ease-out;
  }

  // Hero Banner
  .project-hero {
    img {
      transition: opacity .75s ease-out;
    }

    // Caption details
    figcaption {
      transition: transform .35s, opacity .35s ease-in-out;

    }

    h1,
    h2,
    .project-services,
    .project-description {

      transition: transform .35s, opacity .35s ease-in-out;
    }

    h1 {
      transition-delay: 0.25s;
    }

    h2 {
      transition-delay: 0.50s;
    }

    .project-services {
      transition-delay: 0.75s;
    }

    .project-description {
      transition-delay: 0.75s;
    }

  }

  .project-details {

    dt,
    dd {
      transition: transform .35s, opacity .35s ease-in-out;
    }

    p {
      transition: opacity .35s ease-in-out;
    }

    dt {
      transition-delay: .25s;
    }

    dd {
      transition-delay: .50s;
    }

    p {
      transition-delay: .75s;
      margin: 20px 0 0;
    }
  }

  // Project Images
  #project-container {
    transition: transform .35s ease-out, opacity .25s ease-in;
    // transition-delay: 0.50s;
  }
}

// Animation out
.slide-out {

  #page.single-works {

    // Main Container
    #dmp-main {
      opacity: 0;
    }

    // Hero Banner
    .project-hero {
      figcaption {
        //transform: translate3d(0,10px, 0 );
        opacity: 0;
      }

      img {
        opacity: 0;

      }

      // Caption details
      h1,
      h2,
      .project-services,
      .project-description {

        transform: translate3d(0, 10px, 0);
        opacity: 0;
      }
    }

    // Project Details
    .project-details {

      dt,
      dd {
        transform: translate3d(-10px, 0, 0);
        opacity: 0;
      }

      dt {}

      dt {}

      p {
        opacity: 0;
      }
    }

    // Project Content
    #project-container {

      transform: translate3d(0, 40px, 0);
      opacity: 0;

    }


  }
}

/* @end projects page */
