 /* @group light ui */
.light-ui .logo path {
	fill: #fff;
}
.light-ui .icon-search path,
.light-ui .icon-menu path,
.light-ui .menu-target path {
	fill: #191919;
}
.light-ui .branding-details, .light-ui #dmp-header .header-container nav a {
	color: #fff;
}
.dark-ui #tool-nav a, .dark-ui #tool-nav button {
	//background-color: #fff;
}
/* @end */ 
    
 /* @group dark ui */
.dark-ui .logo path {
	fill: #191919;
}
.dark-ui .icon-search path, .dark-ui .icon-menu path {
	fill: #fff;
}
.dark-ui .branding-details, .dark-ui #dmp-header .header-container nav a {
	color: #191919;
}
.dark-ui #tool-nav a, .dark-ui #tool-nav button {
	//background-color: #191919;
}
/* @end */ 
@media only screen and (max-width:767px) {

}
.background--dark {
    .logo path, .menu-target path {
        fill:#fff;
    }

    .branding-details,
    #dmp-header #main-nav a,
    #dmp-footer nav a, #credits {
        color:#fff;
    }

}

.slideshow h2 {

}
.cb-slideshow h2.background--dark a,
.cb-slideshow h2.background--complex a {

}
.background--dark {
    .nav li:hover a:after,
    .nav a:hover:after,
    .nav .active a:after {
        background-color:#fff;
    }
}
.background--complex a {

}
.background--light {

}