/* @group general */
* {
	box-sizing: border-box;
}
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-backface-visibility: hidden;
}
body {
// 	background-color: #ededed;
	// background-color: #333;
	color: $gray;/* Flexbox Sticky  */
	background-size: cover;

	transition: background-color 0.2s ease-in-out;
	margin: 0;
	&.mceContentBody {background-color:#fff;}
}
#page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 100%;
	margin: 0;
}
a {
	color: $gray;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.active a {
	background: none !important;
}
nav ul li {
	float: left;
	margin: 0;
	list-style-type: none;
}
#main-nav ul li:not(.menu-item-mobile-nav) {
	padding:7px;
}
nav a, .navbar a {
	text-decoration: none;
}
nav ul li:last-child {
	margin: 0 !important;
}
body figure {
	margin: 0;
}
figcaption {
	// color: #fff;
}
figcaption h2 {
	// font-family: Montserrat;
	//font-weight:400;
	// text-transform: uppercase;
	line-height: 100%;
	//margin: 0 0 7px;
}
main ul {
	padding: 0;
	margin: 0;
}
main ul li {
	list-style: none;
}
.tag-list {
	font-size:16px;
	//font-weight:300;
	li {
		display: inline-block;
		float: none;
		&:after {
			content: "/";
			margin: 0 2px;
		}
		&:last-child:after {
			content: "";
		}
	}
	a {
		color:#fff;
		text-decoration:none;
		display: inline-block;
		position:relative;
		padding-bottom: 2px;
		transition: all .25s ease;
		&:hover {
			//background:#fff;
			//color:$gray;
			//text-decoration: underline;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			height: 1px;
			width: 0;
			background: transparent;
			transition: width .25s ease, background-color .25s ease;
			width: 100%;
			background:#fff;
		}
		&:hover:after {
			 width: 0%;
			 background:#fff;
		}
	}
}
/* clearfix */
.container:before, .container:after, .cf:before, .cf:after {
	display: table;
	content: " ";
}
.container:after, .cf:after {
	clear: both;
}
.container {
	max-width:1200px;
	// padding:0 20px;
	margin:0 auto;
}
svg {
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
svg path {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* Preloader */
.spinner {
  width: 40px;
  height: 40px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1100;
	width: 100%;
	height: 100%;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/status.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -110px;
}
.link, .nav a {
	position: relative;
	&:hover:after {
		width: 100%;
		background: #383838;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		height: 1px;
		width: 0;
		background: transparent;
		transition: width .25s ease,background-color .25s ease;
	}
} 
.nav .active a:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	height: 1px;
	width: 0;
	transition: width .25s ease,background-color .25s ease;
	width: 100%;
	background: #383838;
}
.link {
	&:after {
		bottom: 0;
	}
}
.nav a, .active a {
	&:after {
		bottom: -2px;
	}
}
.linkInverted {

}
/* @end */
@media only screen and (min-width:783px) {
	.adminbar {

	}
}
@media only screen and (max-width:782px) {
	.adminbar {
		
	}
}
