/* @group footer */
#dmp-footer {
	padding: 20px 10px;
	position: relative;
	z-index: 100;
}
#dmp-footer, #dmp-footer a {
	//color: #fff;/* background: #fff; */
}
#tertiary-nav {
	font-size: 12px;
	text-align: center;
	
}
.flexbox {
	#tertiary-nav {
		display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
	}
}
#tertiary-nav ul {
	padding: 0;
}
#tertiary-nav li {
	float: none;
	display: inline-block;
}
#tertiary-nav li + li {
	margin: 0 0 0 10px !important;
}
#dmp-footer a {
	text-decoration: underline;
}
#credits {
	margin: 0;
	
	//color:#fff;
}
@media only screen and (min-width:481px) {
	.flexbox {
		#tertiary-nav {
			display: flex;
			flex-direction: row;
		}
	}
	#tertiary-nav #credits {
		display: inline-block;
	}
	#tertiary-nav ul {
		display: inline-block;
		padding: 0;
	}
	
	
	#credits {
		& + ul {
			margin:0 0 0 10px;
		}
	}
	// figcaption h2, figcaption h1 {
	// 	font-size: 45px;
	// }
	figcaption h3 {
		//font-size: 24px;
	}
	

}
@media only screen and (max-width:480px) {
	.flexbox {
		#tertiary-nav {
			display: flex;
			flex-direction: column;
		}
	}
	#credits {
		& + ul {
			margin:2px 0 0;
		}
	}
	#tertiary-nav #credits + ul {
		//margin: 5px 0 0;
		display: block;
	}
}
/* @end */
