/* @group header */
#page:not(.home):not(.error404) {
	#dmp-header {
		background:#fff;
	}	
}
#dmp-header {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 15;
	font-size: 16px;
	background: none;
	border: none;
	
	
}
@media only screen and (min-width:768px) {
	#dmp-header {
		padding-top:20px;
		padding-bottom:20px;
		height:75px;
		.header-container nav {
			margin-right: -7px;
		}
	}
	#page {
		padding-top: 75px;
		
	}
	.admin-bar {
		#dmp-header {
			top:32px;
		}
	}

}
@media only screen and (max-width:767px) {
	#dmp-header {
		padding-top:10px;
		padding-bottom:10px;
		
	}
	#page {
		padding-top: 60px;
	}
	.admin-bar {
		#dmp-header {
			top:46px;
		}
	}
}
#dmp-header.headroom.headroom--unpinned {
	-webkit-transform: translateY(-60px);
	-ms-transform: translateY(-60px);
	transform: translateY(-60px);
    opacity: 0;	
}
.header-container {
	//height:80px;
	//padding: 10px 0;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.headroom.headroom--unpinned{
	/* height: 80px; */
	
	-webkit-transform: translateY(-60px);
	/* transform: translateY(-80px); */
	opacity: 0;
}
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.slideDown {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}
.animated.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}
.search-open #dmp-header .headroom--not-top, .mobile-open #dmp-header .headroom--not-top {
	background-color: transparent !important;
	opacity:1;
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.headroom--not-top {
	/* background-color: rgba(0,0,0, .65); */
	//background-color: rgba(244, 0, 229, 0.78);
	//height: 80px;
	//padding: 10px 0;
}
.headroom--not-top.headroom--pinned {
	background-color: rgba(255, 255, 255, .78)
}
.header-unpinned {
	-ms-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	position: relative;
	/* top: -90px; */
	height: 120px;
	opacity: 0;/* padding-top: 30px; */
}
#dmp-header .header-container nav {
	float: right;
	/* height: 60px !important; */
	/* line-height: 40px; */
	//padding: 10px 0;

	text-transform: lowercase;
}
#dmp-header nav ul {
	float: left;
	margin: 0;
	padding: 0;
	/* background: #fff; */
}
#dmp-header nav ul + ul {
	margin: 0 0 0 10px;
}
#dmp-header nav a {
	/* line-height: 60px; */
	/* color: #515867 !important; */
	/* padding: 7px; */
	display: block;
	/* height: 60px; */
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#dmp-header .header-container nav a:hover {
	opacity: .8;
}
#dmp-header .header-container nav li {
	/* line-height: 40px; */
	/* height: 60px; */
}
#dmp-header .header-container nav a {
	/* line-height: 60px; */
	/* color: #515867 !important; */
	display: block;
	/* height: 40px; */
}
#dmp-header .header-container nav li {
	/* line-height: 40px; */
	//height: 30px;
}
.navbar-brand {
	float: left;
	padding: 0;
	//height: 40px;
	color: $gray;
	//margin: 10px 0 0;
	-webkit-transition: position 0.2s ease-in-out;
	transition: position 0.2s ease-in-out;
	/* width: 100%; */
}
.logo {
	width: 34px;
	height: 30px;
	display: inline-block;
	margin: 5px 10px 0 0;
	float: left;
}
.logo, .menu-target {
	//margin-top:5px;
}
.logo path, .menu-target path {
	fill:$gray;
	//fill: #FFF;
}
@media only screen and (min-width:768px) {
	
}
@media only screen and (max-width:767px) {

}
.menu-target {
	width:30px;
	height:30px;
	//margin: 4px 0 0;
}
.cross {
	visibility:hidden;
	opacity:0;
	transform:scale(0);
	transform-origin: center;
}
.bullseye, .cross, .target {
	transition:all cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s;
}
.bullseye {
	transform-origin: center;
	transform:scale(1);
}
.branding-details {
	line-height: 34px;
}
.icon-search {
	width: 25px;
	height: 25px;
	float: left;
	display: inline-block;
	margin: 0 auto;
	float: none;
	margin-top: 4px;
}
.icon-search path, .icon-menu path {
	fill: #191919;
}
#tool-nav button {
	display: inline-block;
	/* background: #fff; */
	position: relative;
	width: 30px;
	height:30px;
	padding:0;
	margin: 3px 0 0;
	background: transparent;
}
#menu-icon {
	width: 26px !important;
	height: 20px;
}
#menu-secondary-navigation:before {
	content: "";
	border-left: 1px solid #ccc;
	height: 30px;
	margin: 0 10px 0 0;
	position: absolute;
	top: 50%;
	left: -8px;
}
#menu-secondary-navigation {
	height: 30px;
	position: relative;
	margin: 0 0 0 5px !important;
}
.icon-menu {
	width: 30px;
	height: 24px;
	margin: 0;
}
/* @end */
