/* @group homepage */
#homepage .logo path {
  fill: #FFFFFF;
}

.branding-details,
.nav a {
  //color: #fff;
}

#page.home #dmp-main {
  justify-content: center;
  align-items: center;
  display: flex;
}

.featured-project {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  figure {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 870px;
    height: 720px;
    margin-left: -435px;
    margin-top: -360px;

    img {
      /* max-width: 870px; */
      max-height: 490px;
    }
  }

  figcaption {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0 160px;

    h2 {
      // font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 54px;
      word-wrap: break-word;
      word-break: break-word;
      margin: 0 0 10px;
      line-height: 100%;
    }

    h3 {
      //font-weight: 300;
      margin: 0 0 20px;
      font-size: 34px;
    }
  }
}

#homepage #dmp-footer,
#homepage #dmp-footer a {
  color: #fff;
  /* background: #fff; */
}

/* @end */
