/* @group info_page */
#info-page main article p {
	font-size: 18px;
	line-height: 26px;
}
#info-container {
	padding: 20px 0 0;
}
.hero {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
/* @end */
