/* @group main */
#dmp-main {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	z-index: 0;
}
:not(.home).page {
    h1 {
        margin:0 0 20px;
    }
}
@media only screen and (max-width:767px) {
    .error404,
    .page:not(.home) {

        #dmp-main {
            h1 {
                font-size: 24px;
                line-height: 34px;

            }
        }   
    }
     .about {
        #dmp-main {
            p {
                line-height: 24px;
            }
        }
        
    }
}
@media only screen and (min-width:768px) {
    .error404,
    .page:not(.home) {
        #dmp-main {
            h1 {
                // font-size:54px;
                // line-height: 70px;
                font-size: 44px;
                line-height: 60px;
            }
        }  
    }
    .page:not(.home) {
        //padding-top: 140px !important;
        padding-top: 100px !important;
         
    }
    .about {
        #dmp-main {
            p {
                font-size: 24px;
                line-height: 38px;
            }
        }

    }
}
.page:not(.home) {
    
    #dmp-main {        
        
        a {
            
        }
        
        
    }
}
/* @end */