/* @group projectpage */
.project-navigation {
	// position: absolute;
	// top: 50%;
	// -webkit-transform: translateY(-50%);
	// -ms-transform: translateY(-50%);
	// transform: translateY(-50%);
	width: 100%;
	// z-index: 10;
	// padding: 0 30px;
	position: relative;
	z-index: 1;
	.button.secondary, .status {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
	}
    
}
.status {
	background: #cacaca;
	color: $gray;
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	min-width: 150px;
	line-height: 16px;
	font-weight: 400;
}
.button-navigation svg {
	width: 12px;
	height: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.button-navigation svg path {
	fill: #fff;
}
.button-navigation:hover svg path {
	fill: #191919;
}
.button.next {
	float: right;
	text-align: left;
}
.button.next svg {
	float: right;
}
.button.previous {
	float: left;
	text-align: right;
}
.button.previous svg {
	float: left;
}
.single-works {
	#project-container {
		background: #fff;
		display: inline-block;
		width: 100%;
	}
	//#dmp-main {background: #fff;}
}
@media only screen and (min-width:768px) {
	.single-works {
		#project-container {
			//padding: 30px 0;
		}
	}	
	.project-details {
		dl {
			width: 100%;
			display: block;
			
			dt, dd {
				display: inline-block;
			}
		}
		dd {
			
			& + dt {
				margin:0 0 0 10px;
			}
    	}
	}
}
@media only screen and (max-width:767px) {
	.project-details {
		dl {
			width: 100%;
			float: left;
			dt, dd {
				display: block;
			}
		}
		dd {
			& + dt {
				margin:10px 0 0;
			}
		}
	}
	.single-works {
		#project-container {
			padding: 20px 0;
		}
	}
}
#project-container {
	/* padding: 0; */
	&:not(.no-margins) section + section {
		margin-top: 40px;
	}
	header {
		// padding:0 20px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		position:relative;
		& + .project-box {
			margin-top: 40px;
			// float: left;
			width: 100%;
		}
	}
}
.header-title {
	& + .project-navigation {
		margin-top: 20px;
	}
	> div {
		display: block;
		margin: 10px 0;
	}
	p {margin:0;}
	width: 100%;
	text-align:center;
	h1 {
		// font-weight: 400;
		//font-size: 48px;
		& + h2 {
			margin: 20px 0 0;
		}
	}
	h2 {
		// font-weight: 200;
		// font-family: Source Sans Pro,sans-serif;
	}
}
.project-services + .project_task {
	margin: 10px 0 0;
}
.project-services, .project_task {
	display:block;
	margin: 10px 0 0;
	p {
		strong {
			font-weight: 500;
		}
		margin:0;
		color:$gray;
	}
}
@media only screen and (max-width:767px) {
	.header-title {
		h1 {
			font-size: 32px;
			-ms-word-break: break-all;
			word-break: break-all;

			/* Non standard for webkit */
			word-break: break-word;

			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}
		h2 {
			font-size: 18px;
		}
		// width:calc(100% - 82px);
		text-align: center;
	}
	
}
.project-details {
	text-align: center;
    background: rgba(255, 255, 255, 0.95);
    margin-top: -20px;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 0 20px;
    dl {
    	& + dl {
    		margin:7px 0 0;
    	}
    	& + p {
    		margin:7px 0 0;
    	}
    	line-height: 22x;
    	margin:0;
    	
    	dt {
			font-weight:500;
    	}
    	dd {margin:0;}
    	
    }
    p {
    	//font-family: Roboto Mono,monospace;
    	line-height: 24px;
    	margin: 0;
    	text-align: center;
    	//font-style: italic;
    }
    p + .button {
    	margin: 20px 0 10px;
    }
}
@media only screen and (min-width:992px) {
	.project-description {
		// padding:0 240px;
		p {
			color:$gray;
			// font-family: Roboto Mono,monospace;
			// font-size: 14px;
		}
		// position: absolute;
		// z-index: 2;
		// top: 50%;
		// left:50%;
		// transform: translate(-50%,40px);
	}
}
@media only screen and (max-width:991px) {
	
}
.taxonomies-container {
	a {
		color:$gray;
	}
}
.project-details > ul > li + li {
	margin: 10px 0 0;
}
.project-details li h4 {
}
.project-details li span {
}
.project-details + figure {
	margin-top: 40px;
}
.project-box + .project-box,
.project-box .align-center + .align-center {
	//margin-top:20px;
}
.project-box figure {
	position: relative;
	text-align: center;
	//max-width: 850px;
    margin: 0 auto;
	&:only-of-type {
		
	}
	&:nth-child(1) + &:nth-child(2) {
		border:1px solid #ff3300;
	}
	&:nth-child(3n) {
		
	}
	&:nth-child(4n) {
		
	}
}

.project-box {
	figure {
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
	}
	figure.align-left {
		img {
			float:left;
		}
	}
	figure.align-right {
		img {
			float:right;
		}
	}
}
.one-box figure {
	width: 100%;
}
.topLeft figcaption {

}

.background--light {
	.project-box figcaption {
		color:$gray;
		background:rgba(255,255,255, .8);
	}
}
.background--complex {
	
}
.background--dark {
	.project-box figcaption {
		color:#fff;
		background:rgba(56,56,56, .8);
	}
}
.related-works {
	h2 {
		//font-family: Roboto,sans-serif;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		display: block;
		margin: 0 0 20px;
	}
}
.project-box figcaption {
	left:50%;
	transform: translateX(-50%);
	bottom:0;
	position:relative;
	font-size: 14px;
	//position: absolute;
	//top: 60px;
	//background: rgba(0, 0, 0, 0.17);
	background:rgba(255,255,255, .8);
	
	padding:15px;
	text-align: center;
	z-index:1;
	color:inherit;
	span {
		display: block;
		& + span {
			margin-top: 5px;
		}
	}
}
.top-left {
	left:0;
	top:0;
		
}
.top-center {
	left:50%;
	transform: translateX(-50%);
	top:0;

}
.top-right {
	right:0;
	top:0;
}
.middle-left {
	top:50%;
	left:0;
	transform: translateY(-50%);
}
.middle-right {
	top:50%;
	right:0;
	transform: translateY(-50%);

}
.bottom-left {
	left:0;
	bottom:0;
}
.bottom-center {
	left:50%;
	transform: translateX(-50%);
	bottom:0;
}
.bottom-right {
	right:0;
	bottom:0;
}
.project-box figure:nth-child(odd) figcaption {
	//right: 0;
}
.project-box figure:nth-child(even) figcaption {
	//left: 0;
}
.one-box {
}
.two-boxes {
}
.next-projects {
	padding: 40px;
}
/* @end */
