/* @group projectpage */
.project-hero {
	text-align:center;
	position: relative;
	.bannerWrapper {
		max-width: 1200px;
		margin:0 auto;
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: -5px;
		z-index: 5;
	}
	// img {
	// 	display: block;
	// 	margin:0 auto;
	// 	max-width: 100%;
	// 	max-height: 550px;
	// }
}

.project-hero figure {
	margin: 0;
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	height: 100%;
	//position: relative;
	overflow: hidden;
	h1, h2 {color:#383838;}
	h1 + h2 {
		margin-top: 15px;
	}
}

.project-hero figcaption, .hero figcaption {
	padding:20px;
}
.hero figcaption,
.project-hero figcaption {
	background:rgba(255,255,255, .95);
}
@media only screen and (min-width:768px) {
	.project-hero {
		.project-navigation {
			position:absolute;
			top: 50%;
			left:50%;
			transform:translate(-50%,-50%);
			max-width: 1200px;
			padding:0 30px;
		}
	}
	.captionWrapper {
		position: absolute;
		left:0;
		right:0;
		bottom:0;
		z-index: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.project-hero figcaption {
		-webkit-font-smoothing: antialiased !important;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		transform: translateZ(0);
		// max-width: 680px;
		// position: absolute;
		// bottom: 0;
		// left: 50%;
		// transform: translate(-50%, 0); 
		// z-index: 1;
	}
}
@media only screen and (max-width:767px) {
	.project-hero figcaption {

	}
}
.project-hero figure img {
	
}
figcaption .button {
	margin:25px 0 0;	
}
/* @end */

/* @group Project Container */
body.archive {
	#dmp-main {
		.container {
			max-width: 1440px;
		}
	}
}
#project-page #dmp-main {
	margin: 0;
}

.project-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;

	.tag-list {
		padding:8px 10px;	
		//background: rgba(8,8,16,.35);
		a {
			color: #fff;
			font-size: 14px;
			float: left;	
		}
	}
	> li {
		position: relative;
		display: flex;
		float: left;
		width:33.333333%;
	}
	figure {

		width: 100%;
		float: left;
		height: auto;
		.overlay-top, .overlay-bottom {
			position:absolute;
			left:0;
			right:0;
			width: 100%;
			transition: ease-in-out;
			opacity: 0;
			padding:0 20px;
		}
		.overlay-top {
			top: 0;
			height: 50%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			flex-direction: column;
			padding:20px;
			h3, h4 {
				opacity: 0;
				transition: opacity 0.35s ease-in;
			}
			h3 {
					
				transition-delay: 0.30s;
			}
			h4 {
		
				transition-delay: 0.15s;
			}
			h3 + h4 {margin-top:8px;}
	
		}
		.overlay-bottom {
			bottom: 0;
			height: 50%;
			//transform: translateY(120%);
			//transition-delay: 0.45s;
			
			.button {
				margin:0;
				opacity: 0;
				transition: opacity 0.35s ease-in;
				transition-delay: 0.45s;
			}
			
		}

		&:hover {

			figcaption {
				opacity: 1;
				visibility: visible;
			}
			.overlay-top, .overlay-bottom {
				opacity: 1;
			}
			.overlay-top {
				h3, h4 {
					opacity: 1;
				}
				h3 {
					//transform: translateY(-10px);
				}
				h4 {
					//transform: translateY(-10px);
				}
				
			}
			.overlay-bottom {
				//transform: translateY(100%);
				.button {
					opacity: 1;
					//transform: translateY(-20px);
				}
				
			}
		}
		img {
			float:left;
			height: auto;
			max-width: 100%;
		}
	}
	figcaption {
		opacity: 0;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: all 00.35s ease-in-out;
		transition: all 00.35s ease-in-out;
		
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		text-align: center;
		
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background: rgba(255, 255, 255, 0.95);
		padding: 20px;

		.inner {
			position:relative;
			
		}
		.overlay-inner {
		    width: 100%;
		    position: absolute;
		    left: 0;
		    top: 50%;
		    opacity:0;
		    transform: translateY(-80%);
		    transition: all 0.35s ease-out;
		}
	}
	.project-disciplines {
		float:right;
	}
	.project-technologies {
		float:right;
	}
}
.taxonomies {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	font-size: 15px;
}
/* @end */
