/* @group typography */
body {
	font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {

	font-family: 'Roboto Mono', monospace;
}
h1 {
	
	font-weight:700;
}
h2 {

	font-weight:400;
}
strong {font-weight:500;}
.project-list {
	figcaption {
		h3 {
			font-weight:700;
			& + h4 {
				margin-top: 10px;
			}
		}
	}
}
.link {
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 0;
		background: transparent;
		transition: width .25s ease,background-color .25s ease;
	}
	&:hover {
		&:after {

			width: 100%;
			background: $gray;

		}
	}
}
.link.inverted {
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
	font-weight:500;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 1px;	
		
		width: 100%;

		background: #383838;
		
		-webkit-transition: width .25s ease,background-color .25s ease;
		transition: width .25s ease,background-color .25s ease;
	}
	&:hover:after {
		width: 0;
		background: transparent;
	}
}
// figcaption h3 {font-weight:400;}
h3 {
	font-weight:400;
}
h4 {
	font-weight:400;
}
#dmp-header nav a {
	font-weight:400;
}
#dmp-header .active a {font-weight:500;}
#dmp-header .header-container nav {
	font-weight: 300;
}
.navbar-brand {
	font-weight: 300;
}
.navbar-brand strong {
	font-weight: 500;
}
.navbar-brand em {
	font-weight: 200;
	font-style: normal !important;
}
 .project-box figcaption {
 	font-weight: 400;
 }
 .project-details strong {
 	//font-weight:400;
 }
.taxonomies {
	font-weight: 300;
}
.button,
.project-navigation [rel="prev"],
.project-navigation [rel="next"] {
	// font-family:"Roboto", sans-serif;
}
.error404,
.page:not(.home) {
	h1 {
		font-weight:400;
	}
}
.search-form label,
.search h1 {
	font-weight:normal;
}
.search h1 span {font-weight:700;}
.active a {
	font-weight: 500;
}
input, textarea {
	font-weight:300;
}

@media only screen and (min-width: 768px) {
	figcaption {
		h1 {
			white-space: nowrap;
		}
	}
	.page.home {
		h1 {
			font-size: 45px;

		}
		h2 {
			font-size: 24px;
		}
	}
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 22px;
	}
	h3 {
		font-size: 16px;
	}
	.project-list figcaption h3 {
		font-size: 24px;
	}
	.project-list figcaption h4 {
		font-size: 18px;
	}
	h4 {

	}
	figcaption h1 + h2 {
		margin-top: 20px;
	}
	#dmp-footer {
		p, a {
			font-size: 12px;
		}
	}
}
// .project-hero,
// #project-container {
// 	h1 {
// 		font-size: 32px;
// 	}
// 	h2 {
// 		font-size: 18px;		
// 	}
// }
@media only screen and (max-width: 767px) {
	h1, h2, h3, h4, h5, h6 {
		-ms-word-break: break-all;
		word-break: break-all;
		/* Non standard for webkit */
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 16px;
	}
	p, #credits a {
		
	}
	#dmp-footer {
		p, a {
			font-size: 12px;
		}
	}
	h3 {

	}
	.project-list figcaption h3 {
		font-size: 20px;
	}
	.project-list figcaption h4 {
		font-size: 16px;
	}
	h4 {

	}
	figcaption h1 + h2 {
		margin-top: 15px;
	}
}
/* @end */
