/* @group general */
.sr-only {
	visibility: hidden;
	display: none;
}
img {
	max-width:100%;
}
.container, .project-box.one-box {
	max-width:1200px;
	margin:0 auto;
}
body:not(.page) #dmp-main .container {padding:0;}
/* @end */

/* @group desktop */
@media only screen and (min-width:1200px) and (max-width:1440px) {
    .project-list > li {
       width: 33.333333%;
   }
// .project-details {max-width:1170px;}
//.one-box figure img {max-width: 1200px;}
}
@media only screen and (min-width:1441px) {
    body:not(.page) #dmp-main .container {width:100%;max-width:100%;}
    .project-list > li {
       width: 25%;
   }	
}
@media only screen and (min-width:1025px) and (max-width:1199px) {
    .project-list li {
    }
}

@media only screen and (min-width:640px) and (max-width:1199px) {
    .project-list > li {
       width: 50%;
   }
}

/* @end */