/* @group smartphone */
@media only screen and (min-width:481px) and (max-width:767px) {
	#search .search-field {
		font-size: 90px;
		min-height: 520px;
		height: auto;
	}
}


@media only screen and (max-width:1199px) {
	#dmp-header {

		.container {
			padding: 0 20px;
		}
	}
}
@media only screen and (max-width:640px) {
	.project-details > ul {
		width:100%;
		text-align:center;
	} 
	.project-details ul + ul {margin-top:10px;}	
	#search .search-field {
		font-size: 50px;
		/* min-height: 280px; */
		height: auto;
	}
	#mobile-navigation a {
		font-size: 48px;
	}

	.project-list figcaption h2, .project-list figcaption h1 {
		
		margin: 0 0 2px;/* overflow: hidden; */
		/* white-space: nowrap; */
		/* text-overflow: ellipsis; */
	}
	// figcaption h2, figcaption h1 {
	// 	font-size: 28px;
	// }
	// figcaption h3 {
	// 	font-size: 18px;
	// }
	.project-list figcaption h3 {
	
		margin: 0 0 10px;
	}
	.project-categories {
		padding: 5px 10px;
	}
	.button-navigation {min-width:inherit;}
	.button-navigation span {
		display: none;
		/* float: left; */
	}

}


/* @end */