@group tablet */ 
@media only screen and (min-width:768px) and (max-width:1024px) {
}

@media only screen and (min-width:481px) and (max-width: 1199px) {
	.project-hero + .container {
		padding:0;
	}
	.project-list>li {
		width:50%;
	}
}
@media only screen and (min-width:481px) and (max-width: 767px) {
	#mobile-navigation a {
		font-size: 90px;
	}
	
}
@media only screen and (max-width:480px) {
	#mobile-navigation a {
		font-size: 45px;
	}	
	.project-list > li {
		width: 100%;
	}
}
@media only screen and (max-width: 640px) {


}
@media only screen and (min-width:641px) {
	.project-hero {
		//height:350px;
		//height: 450px;
	}
	.page .project-hero {
		//height:340px;
		height: 500px;
	}
}
@media only screen and (max-width:480px) {
	.project-navigation {

	}
}
@media only screen and (min-width:481px) and (max-width: 767px) {
	// .project-navigation {
	// 	[rel="prev"], [rel="next"] {
		
	// 	}
	// 	caution: everything inverted
	// 	[rel="prev"] {
	// 		float:right;
	// 	}
	// 	[rel="next"] {
	// 		float:left;
	// 	}
	// }
}
@media only screen and (max-width: 1199px) {
	#page:not(.home):not(.single):not(.archive) .container,
	#project-container header {
		padding:0 20px;
	}
	
}
@media only screen and (max-width: 767px) {

	.project-navigation {
		// float: left;
		// width: 100%;
		// padding:0 20px;
		[rel="prev"], [rel="next"] {
			margin:0;
			min-width: inherit;
			span {
				display:none;
			}
		}
		[rel="prev"] {float:right;}
		[rel="next"] {float:left;}
		
	}
	#dmp-main .container {padding:0;}

	#dmp-header .header-container nav {
		right: 30px;
	}
	.mobile-open {
		background-color: #fff !important;
	}
	.navbar-brand {
		left: 30px;
	}
	#menu-primary-navigation, .branding-details {
		-webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, visibility 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out, visibility 0.2s ease-in-out;
	}
	.navbar-toggle {
		-webkit-transition: background .3s;
		transition: background .3s;
		position: relative;
		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #191919;
			width: 30px;
			height: 4px;
			margin-left: -15px;
			margin-top: -2px;
			&:before, &:after {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 4px;
				background-color: #191919;
				content: "";	
			}
			&:before {
				top: -9px;
			}
			&::after {
				bottom: -9px;
			}
		}
	}
	.navbar-toggle-2 {
		width: 60px;
	}
	.mobile-open .navbar-toggle {
		span {
			background: 0 0;
			background-color: #191919;
			&:before {
				top: 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&::after {
				bottom: 0;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}

	}

	.mobile-open .navbar-toggle span:before, .mobile-open .navbar-toggle span:after {
		-webkit-transition-delay: 0s, .3s;
		transition-delay: 0s, .3s;
		background-color: #fff;
	}
	.mobile-open .navbar-toggle span:before, .mobile-open .navbar-toggle span:after {
		background-color: #fff;
	}
	#menu-primary-navigation, .branding-details {
		visibility: hidden;
		opacity: 0;/* background: #191919; */
		display:none;
	}
	.mobile-open {
		&, #page {
			overflow: hidden;
		}
		
	}
	.mobile-open #mobile-navigation {
		opacity: 1;
		visibility: visible;
	}
	#mobile-navigation {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* padding: 150px 0 0 !important; */
		background: rgba(255,255,255,0.90);
		ul {
			
			-webkit-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			opacity: 0;
			position: absolute;
			bottom: 50%;
			left:50%;
			transform: translate(-50%, 50%);
		}
		li {
			width: 100%;
			text-align: center;
			display: block;
			clear: both;
			& + li {
				margin-top: 15px !important;
			}
		}
		a {
			display: inline-block !important;
			color: #191919;
			height: auto !important;/**/
			position:relative;
			&:hover {
				// color: #fff;
				// background: #191919 !important;
			}
			&:hover:after {
				width: 100%;
				background: #383838;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 0;
				background: transparent;
				transition: width .25s ease,background-color .25s ease;
			}
		}
		.active a:after {
			width: 100%;
				background: #383838;
		}
	}

	.mobile-open #mobile-navigation ul {
		opacity: 1;
	}

	.mobile-open .logo path,
	.mobile-open .menu-target path
	{
		fill: #191919 !important;
	}
	.mobile-open .logo path, .mobile-open .icon-menu path, .mobile-open .icon-search path {
		fill: #fff;
	}
	.mobile-open {
		.menu-target {
			.target {
				opacity: 0;
			}
			.cross {
				visibility: visible;
				opacity: 1;
				transform: scale(1.5);
			}
			.bullseye {

				visibility: hidden;
				opacity: 0;
				transform: scale(0);
			}
		}
	}
	.mobile-open #tool-nav a, .mobile-open #tool-nav {
	//background: #191919;
}
#tool-nav {
	/* margin-right: -30px!Important; */
	// position: absolute;
	// right: 0;
	//background: #fff;
}
#search .search-field {
	/* font-size: 90px; */
	/* min-height: 520px; */
	/* height: auto; */
}
/* Project Hero */
.project-hero figure img {

}
.two-boxes figure {width:100%;}

}
.project-details + .project-navigation {
	margin-top:10px;
}
.project-navigation {
	float: left;
	margin: 30px 0;
	padding: 0 20px;
}
@media only screen and (min-width:768px) {
	.arrow-left {

		margin: 0 10px 0 0;
	}
	.arrow-right {
		
		margin: 0 0 0 10px;
	}
	.project-navigation {
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
		width: 100%;
		[rel="prev"], [rel="next"] {
			// position:absolute;
			min-width: 170px;
		}
		/* caution: everything inverted */
		[rel="prev"] {
			// right:0;
			float:right;
		}
		[rel="next"] {
			// left:0;
			float:left;
		}
	}
	#tool-nav, .navbar-toggle, .menu-item-mobile-nav {
		display: none;
	}
	#tool-nav a, #tool-nav button {
		/* padding: 0 15px !important; */
		background: #fff;
	}
	.navbar-brand {
	//left: 30px;
}
.box {
	background-size: 70%;
}
.navbar-brand, .branding-details, .navbar-collapse {
	transition: opacity .25s;
	-moz-transition: opacity .25s;
	-webkit-transition: opacity .25s;
	-o-transition: opacity .25s;
	-ms-transition: opacity .25s;
}
.branding-details {
	float: left;
}
#search .search-field {
	font-size: 110px;/* height: 140px; */
}
#mobile-navigation {
	visibility: hidden;
	opacity: 0;
}
.navbar-toggle-2 {
	width: 50px;
}

.project-details > ul {
	// float: left;
	// width: 50%;
	// padding: 0 30px;
}

.project-details > ul + ul {
   // margin: 0 0 0 40px;
}

.two-boxes {
	figure {
		float:left;
		width:50%;
	}
}
.three-boxes {
	figure:nth-child(1), figure:nth-child(3) {width:33%;}
	figure:nth-child(2) {width:34%;}
}
.four-boxes {
	figure {
		width:25%;
	}
}
}
/* @end */