@charset "UTF-8";
.sl-slide-inner img {
	/* max-width: 870px; */
	/*max-height: 620px;*/
	/* position: absolute; */
	/* top: 50%; */
	/* margin-top: -320px; */
	/* padding: 0 20px; */
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*padding: 0 30px;*/
}
.overlay-moire {

}
.overlay-moire:after {
	content:"";
	background:url(../../images/pattern.png) repeat;
	display: inline-block;
	z-index: 0;
	position: absolute;
	width:100%;
	height: 100%;
	opacity: .6;
}
/* ==========================================================================
   style
   ========================================================================== */
#slider {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;	
}
		    
/*#slider * {
	visibility:hidden;
	opacity:0;
}
.csstransitions #slider * {
	visibility:visible;
	opacity:1;
}*/
.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.slit-container {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}
/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper, .sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
}
.sl-slide-inner {background-size: cover !important;}
.sl-slide {
	z-index: 1;
}
/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}
/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}
.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}
.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}
/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}
.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}
.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}
/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}
.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}
/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}
.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}
/* ==========================================================================
   custom
   ========================================================================== */
.sl-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
}
.csstransitions {
}
/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 10;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #ddd;
	border: 1px solid rgb(255, 255, 255);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.nav-arrows span:hover {
	border-color: rgba(255, 255, 255, .6);
}
.nav-arrows span.nav-arrow-prev {
	left: 40px;
	border-right: none;
	border-top: none;
}
.nav-arrows span.nav-arrow-next {
	right: 40px;
	border-left: none;
	border-bottom: none;
}
/* Custom navigation dots */

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 5%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 10;
}
.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;/* box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1); */
}
.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
}
/* Content elements */

 .deco {
	width: 260px;
	height: 260px;
	border: 2px dashed #ddd;
	border: 2px dashed rgba(150,150,150,0.4);
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin: 0 0 0 -130px;
}
 [data-icon]:after {
	content: attr(data-icon);
	font-family: 'AnimalsNormal';
	color: #999;
	text-shadow: 0 0 1px #999;
	position: absolute;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	font-size: 100px;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -110px;
	box-shadow: inset 0 0 0 10px #f7f7f7;
	border-radius: 50%;
}
/*.sl-slide figcaption {
	position: absolute;
	text-align: center;
	bottom: 50%;
	margin: 0 0 -270px 0;
	width: 80%;
	left: 10%;
	word-break: break-word;
	color: #fff;
	word-wrap: break-word;
	z-index: 1;
}*/
.sl-slide figcaption {
	position: absolute;
	text-align: center;
	bottom: 50%;
	left: 50%;
	color: #fff;
	/*word-break: break-word;*/
	/*word-wrap: break-word;*/
	z-index: 1;
	transform: translate(-50%,50%);
	-webkit-transform: translate(-50%,50%);

}
.sl-slide figcaption .inner {
	padding: 20px;
}
.sl-slide figcaption h2 {
	margin: 0 0 7px;
	font-family: Montserrat;
	text-transform: uppercase;
	
	line-height: 100%;
}
.sl-slide figcaption h3 {
	
	margin: 0 0 20px;
	font-weight: 300;
}
.sl-slide figcaption .button {
}
/* .sl-slide h2 {
	color: #000;
	text-shadow: 0 0 1px #000;
	padding: 20px;
	position: absolute;
	
	font-weight: 700;
	letter-spacing: 13px;
	text-transform: uppercase;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	bottom: 50%;
	margin: 0 0 -120px 0;
}*/


/* Custom background colors for slides in first demo */

/* First Slide */
 .bg-1 .sl-slide-inner,  .bg-1 .sl-content-slice {
/* background: #F400E5; */
}
/* Second Slide */
 .bg-2 .sl-slide-inner,  .bg-2 .sl-content-slice {
	background: #000;
}
 .bg-2 [data-icon]:after,  .bg-2 h2 {
	color: #fff;
}
 .bg-2 blockquote:before {
	color: #222;
}
/* Third Slide */
 .bg-3 .sl-slide-inner,  .bg-3 .sl-content-slice {
	background: #db84ad;
}
 .bg-3 .deco {
	border-color: #fff;
	border-color: rgba(255,255,255,0.5);
}
 .bg-3 [data-icon]:after {
	color: #fff;
	text-shadow: 0 0 1px #fff;
	box-shadow: inset 0 0 0 10px #b55381;
}
 .bg-3 h2,  .bg-3 blockquote {
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
 .bg-3 blockquote:before {
	color: #c46c96;
}
/* Forth Slide */
 .bg-4 .sl-slide-inner,  .bg-4 .sl-content-slice {
	background: #5bc2ce;
}
 .bg-4 .deco {
	border-color: #379eaa;
}
 .bg-4 [data-icon]:after {
	text-shadow: 0 0 1px #277d87;
	color: #277d87;
}
 .bg-4 h2,  .bg-4 blockquote {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
 .bg-4 blockquote:before {
	color: #379eaa;
}
/* Fifth Slide */
 .bg-5 .sl-slide-inner,  .bg-5 .sl-content-slice {
	background: #ffeb41;
}
 .bg-5 .deco {
	border-color: #ECD82C;
}
 .bg-5 .deco:after {
	color: #000;
	text-shadow: 0 0 1px #000;
}
 .bg-5 h2,  .bg-5 blockquote {
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
 .bg-5 blockquote:before {
	color: #ecd82c;
}
/* Animations for content elements */

.sl-trans-elems figcaption {
	/*-webkit-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both, fadeIn 1s ease-in-out both;*/
	-webkit-animation: fadeIn 1s ease-in-out both;
	animation: fadeIn 1s ease-in-out both, fadeIn 1s ease-in-out both;

}
.sl-trans-elems img {
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.2s linear 0.2s both;
}
.sl-trans-elems .sl-slide {
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.2s linear 0.2s both;
}
.sl-trans-back-elems img {
	-webkit-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems .deco {
	-webkit-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems .sl-slide {
	-webkit-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems figcaption {
	-webkit-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote {
	-webkit-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll {
 0% {
-webkit-transform: translateX(500px) rotate(360deg);
}
 100% {
-webkit-transform: translateX(0px) rotate(0deg);
}
}
@keyframes roll {
 0% {
-webkit-transform: translateX(500px) rotate(360deg);
transform: translateX(500px) rotate(360deg);
opacity: 0;
}
 100% {
-webkit-transform: translateX(0px) rotate(0deg);
transform: translateX(0px) rotate(0deg);
opacity: 1;
}
}
@-webkit-keyframes moveUp {
 0% {
-webkit-transform: translateY(40px);

}
 100% {
-webkit-transform: translateY(0px);

-webkit-transform: translateZ(0) scale(1.0, 1.0);
-webkit-backface-visibility: hidden;

}
}
@keyframes moveUp {
 0% {
/*-webkit-transform: translateY(40px);
transform: translateY(40px);*/
-webkit-transform: translate(-50%,120%) translateZ(0) scale(1.0, 1.0);


}
 100% {
/*-webkit-transform: translateY(0px);
transform: translateY(0px);*/
	-webkit-transform: translate(-50%,50%) translateZ(0) scale(1.0, 1.0);
 

}
}
@-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
@keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
@-webkit-keyframes scaleDown {
 0% {
-webkit-transform: scale(1);
}
 100% {
-webkit-transform: scale(0.5);
}
}
@keyframes scaleDown {
 0% {
-webkit-transform: scale(1);
transform: scale(1);
}
 100% {
-webkit-transform: scale(0.5);
transform: scale(0.5);
}
}
@-webkit-keyframes fadeOut {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
@keyframes fadeOut {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}

/* Media Queries for custom slider */

@media screen and (max-width: 660px) {
.sl-slide h2 {
	/* line-height: 22px; */
	
	/* margin-bottom: -40px; */
		/* letter-spacing: 8px; */
	word-break: break-word;
	word-wrap: break-word;
}
.sl-slide blockquote p:before {
	line-height: 10px;
	width: 40px;
	height: 40px;
	font-size: 120px;
	left: -45px;
}
}
